<div ng-controller="Umbraco.Editors.Media.MoveController">
<div class="umb-dialog-body">
	<div class="umb-pane">

		<p class="abstract" ng-hide="success">
            Taþýmak için bir yeri seçin <strong>{{currentNode.name}}</strong> Aþaðýdaki aðaç yapýsýnda
		</p>

		<div class="alert alert-error" ng-show="error">
			<h4>{{error.errorMsg}}</h4>
			<p>{{error.data.Message}}</p>
		</div>

		<div class="alert alert-success" ng-show="success">
			<p><strong>{{currentNode.name}}</strong> altýna taþýndý
			<strong>{{target.name}}</strong></p>

			<button class="btn btn-primary" ng-click="nav.hideDialog()">Tamam</button>
		</div>

		<div ng-hide="success">
            <umb-tree section="media"
                      hideheader="false"
                      hideoptions="true"
                      isdialog="true"
                      eventhandler="dialogTreeEventHandler"
                      enablecheckboxes="true">
            </umb-tree>
		</div>
	</div>
</div>


<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
	<a class="btn btn-link" ng-click="nav.hideDialog()">Ýptal</a>
	<button class="btn btn-primary" ng-click="move()">Taþý</button>
</div>
</div>