<div ng-controller="Umbraco.Installer.DataBaseController">

    <h1>Veritabanı yapılandırma</h1>
    <p>
        Üzerinde CMS yüklemek istediğiniz veritabanı için bağlantı ve kimlik doğrulama bilgilerini girin
    </p>

    <form name="myForm" class="form-horizontal" novalidate ng-submit="validateAndForward();">
        <div class="control-group">
            <legend>What type of database do you use?</legend>
            <label class="control-label" for="dbType">Veritabanı türü</label>
            <div class="controls">
                <select name="dbType" ng-options="db.id as db.name for db in dbs" ng-model="installer.current.model.dbType" required></select>
            </div>
        </div>

        <div class="controls" ng-if="installer.current.model.dbType == 0">
            <p> Büyük !, şey yapılandırmak gerek daha sonra , sadece <strong> Devam </strong> aşağıdaki butonu ile bir sonraki adımla devam etmek </p>
        </div>



        <div ng-if="installer.current.model.dbType < 0">

            <legend>ConnectionString kullanmalısınız ?</legend>
            <div class="control-group">
                <label class="control-label" for="server">Bağlantı dizesi</label>
                <div class="controls">

                    <textarea class="input-block-level" required ng-model="installer.current.model.connectionString" rows="5"></textarea>
                    <small class="inline-help">Geçerli bir veritabanı bağlantı dizesini girin.</small>
                </div>
            </div>
        </div>

        <div ng-if="installer.current.model.dbType > 0">
            <div class="row">
                <legend>Nerede veritabanı bulurum?</legend>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="server">Sunucu</label>
                        <div class="controls">
                            <input type="text" name="server" placeholder="127.0.0.1/SQLEXPRESS" required ng-model="installer.current.model.server" />
                            <small class="inline-help">Sunucu alanını veya IP'sini girin</small>
                        </div>
                    </div>
                </div>

                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="databaseName">Veritabanı adı</label>
                        <div class="controls">
                            <input type="text" name="installer.current.model.databaseName"
                                   placeholder="umbraco-cms"
                                   required ng-model="installer.current.model.databaseName" />
                            <small class="inline-help">Veritabanının adını girin</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <legend>Ne kimlik veritabanına erişmek için kullanılır ?</legend>
                <div class="span6">
                    <div class="control-group" ng-if="!installer.current.model.integratedAuth">
                        <label class="control-label" for="login">Giriş</label>
                        <div class="controls">
                            <input type="text" name="login"
                                   placeholder="databaseuser"
                                   required ng-model="installer.current.model.login" />
                            <small class="inline-help">Veritabanı kullanıcı adını girin</small>
                        </div>
                    </div>
                </div>

                <div class="span6">
                    <div class="control-group" ng-if="!installer.current.model.integratedAuth">
                        <label class="control-label" for="password">Parola</label>
                        <div class="controls">
                            <input type="password" name="password"
                                   placeholder="umbraco-cms"
                                   required ng-model="installer.current.model.password" />
                            <small class="inline-help">Veritabanı parolasını girin</small>
                        </div>
                    </div>
                </div>

                <div class="span12 control-group" ng-if="installer.current.model.dbType == 1">
                    <div class="controls">
                        <label class="checkbox" for="integratedAuth">
                            <input type="checkbox" name="integratedAuth"
                                   placeholder="umbraco-cms"
                                   ng-model="installer.current.model.integratedAuth" /> Tümleşik kimlik doğrulaması kullan
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group" ng-class="{disabled:myForm.$invalid}">
                <div class="controls">
                    <input type="submit" ng-disabled="myForm.$invalid || checking"
                           value="Continue" class="btn btn-success" />

                    <button class="btn" ng-click="restart()">Geri dön</button>

                    <span class="inline-help" ng-if="checking" ng-animate="'fade'">
                        Veritabanı bağlantısı doğrulanıyor ...
                    </span>

                    <span class="inline-help error" ng-if="invalidDbDns" ng-animate="'fade'">
                        Veritabanına bağlanmak olamazdı.
                    </span>
                </div>
            </div>
        </div>


    </form>
</div>
