<div style="max-width: 1200px">
    <h3>Dost CMS Hoşgeldiniz</h3>
    <p>CMS seçtiğiniz için teşekkür ederiz - biz bu güzel şeyin başlangıcı olabileceğini düşünüyorum. İlk başta ezici hissediyorum olsa da , biz öğrenme eğrisi gibi pürüzsüz ve mümkün olduğunca hızlı yapmak için bir sürü yaptık:</p>

    <div class="row">
        <div class="span4">
            <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                <img src="views/dashboard/default/azmisahin.png" alt="Tutorial" style="margin: 10px 0 10px 0" />
            </a>

            <h4>
                <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                    Öğrenin
                </a>
            </h4>

            <p>
                <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                    Size uygun bir tempoda kahraman . Takip etmek bizim kolay
                    Online eğitim videoları size temel verecektir
                    Bilgi müthiş Umbraco web siteleri oluşturmaya başlamak için .
                </a>
            </p>
        </div>

    </div>

</div> 