<div style="max-width: 1200px">
    <h3>Dost CMS Hoþgeldiniz</h3>
    <p>CMS seçtiðiniz için teþekkür ederiz - biz bu güzel þeyin baþlangýcý olabileceðini düþünüyorum. Ýlk baþta ezici hissediyorum olsa da , biz öðrenme eðrisi gibi pürüzsüz ve mümkün olduðunca hýzlý yapmak için bir sürü yaptýk:</p>

    <div class="row">
        <div class="span4">
            <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                <img src="views/dashboard/default/azmisahin.png" alt="Tutorial" style="margin: 10px 0 10px 0" />
            </a>

            <h4>
                <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                    Öðrenin
                </a>
            </h4>

            <p>
                <a href="http://azmisahin.github.io/" target="_blank" class="nounderline">
                    Size uygun bir tempoda kahraman . Takip etmek bizim kolay
                    Online eðitim videolarý size temel verecektir
                    Bilgi müthiþ Umbraco web siteleri oluþturmaya baþlamak için .
                </a>
            </p>
        </div>

    </div>

</div> 