<h3>Başlangıç ​​Site ve Cilt yükleyin</h3>
<p>Zaten bizim Starter Setleri biri yüklü değil varsa , biz şimdi bunu düşünüyorum. Bu CMS ile çalışmaya başlamak için en iyi yollarından biridir . Bir Başlangıç ​​Seti yükledikten sonra, büyük görünmesi ve beğeninize kiti özelleştirmek için bir cilt seçebilirsiniz.</p>
<h4>Başlangıç kiti:</h4>
<div class="dashboardColWrapper">
    <div class="dashboardCols">
        <div class="dashboardCol">
            <ul>
                <li><strong><a href="/install/?installStep=skinning" target="_blank">Basit Başlangıç Kiti</a></strong> Bir CMS web sitesi oluşturmak için iyi tanımlanmış sözleşmelerin bir dizi tanıtır çıplak kemikleri sitesi</li>
                <li><strong><a href="/install/?installStep=skinning" target="_blank">Blog Başlangıç Kiti</a></strong> güçlü bir blog kiti</li>
                <li><strong><a href="/install/?installStep=skinning" target="_blank">İş Başlangıç Kiti</a></strong> Bir temel iş kiti, yukarı ve bugün çalıştırmak için</li>
                <li><strong><a href="/install/?installStep=skinning" target="_blank">Profesyonel Başlangıç Kiti</a></strong> web üzerinde kendi alanı için temel kişisel kiti</li>
            </ul>
        </div>
    </div>
</div>