<h3>Masaüstü Medya Uploader</h3>
    
<p><strong>Masaüstü Medya Uploader</strong> size kolayca medya bölümüne doğrudan medya öğeleri yüklemenize olanak sağlar bilgisayarınıza yükleyebileceğiniz küçük bir masaüstü uygulamasıdır.</p>
<p>Irade otomatik yapılandırmak altında rozeti zaten olup olmadığını üzerine kendisi dayalı <strong>Masaüstü Media Uploader</strong> ...</p>
<p>Sadece tıklayın <strong>Şimdi Yükselt / Şimdi Kur / Şimdi Başlat</strong> Bağlantı bu eylemi gerçekleştirmek için.</p>

<p>
    <div id="dmu-badge">
        <p>İndir <a href="dashboard/air/desktopmediauploader.air">Masaüstü Media Uploader</a> şimdi.</p>
        <small>
            Bu uygulama gerektirir Adobe&#174;&nbsp;AIR&#8482; <a href="http://airdownload.adobe.com/air/mac/download/latest/AdobeAIR.dmg">Mac OS</a> or <a href="http://airdownload.adobe.com/air/win/download/latest/AdobeAIRInstaller.exe">Windows</a>.
        </small>
    </div>
</p>

<!--
<script type="text/javascript">
// <![CDATA[
    var flashvars = {
        appid: "org.umbraco.DesktopMediaUploader",
        appname: "Desktop Media Uploader",
        appversion: "v2.1.0",
        appurl: "<%= FullyQualifiedAppPath %>umbraco/dashboard/air/desktopmediauploader.air",
        applauncharg: "<%= AppLaunchArg %>",
        image: "/umbraco/dashboard/images/dmu-badge.jpg?2.1.0",
        airversion: "2.0"
    };
    var params = {
        menu: "false",
        wmode: "opaque"
    };
    var attributes = {
        style: "margin-bottom:10px;"
    };

    swfobject.embedSWF("/umbraco/dashboard/swfs/airinstallbadge.swf", "dmu-badge", "215", "180", "9.0.115", "/umbraco/dashboard/swfs/expressinstall.swf", flashvars, params, attributes);
// ]]>
</script> -->